<div class="jumbotron">
  <h1>ROKOOP BLOG</h1>
  <h2>Creado por WeilayStudio!</h2>
  <p>Bienvenido a mi nuevo blog personal</p>
</div>
<div class="container-fluid col-lg-7">
  <div class="row">
    <div class="col-lg-12"  *ngFor="let photo of photos">
      <div class="card card-photo" (click)="selectedCard(photo._id)">
        <div class="card-header">
          {{photo.title}}
        </div>
        <img src="{{photo.imagePath}}" class="img-responsive">
        <div class="card-body">
          {{photo.description}}
        </div>
      </div>
    </div>
  </div>
</div>
